.comment__author {
    font-style: normal;
    font-weight: 900;
    font-size: 1em;
    line-height: 1.6;
    margin: 0;
}

@media screen and (max-width: 768px) {
    .comment__author {
        order: 2;
        margin-bottom: 24px;
    }
}