.content-subtitle {
    max-width: 640px;
    width: calc(100% - 32px);
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 35px;
    text-align: center;
    font-family: 'Inter', Arial, sans-serif;
}

@media screen and (max-width: 768px) {
    .content-subtitle {
        font-size: 24px;
        line-height: 35px;
    }
}

@media screen and (max-width: 767px) {
    .content-subtitle {
        font-size: 16px;
        line-height: 23px;
    }
}