.video__subtitle {
    margin: 0 0 28px 30px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 15px;
}

@media screen and (max-width: 768px) {
    .video__subtitle {
        font-size: 12px;
        line-height: 13px;
        margin: 0 0 22px 24px;
    }
} 

@media screen and (max-width: 320px) {
    .video__subtitle {
        margin: 0 0 16px 16px;
    }
}