.lead__caption {
    display: block;
    margin: 0 auto;
    width: 100%;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
}

@media screen and (max-width: 768px) {
    .lead__caption {
        width: calc(100% - 48px);
    }
}

@media screen and (max-width: 375px) {
    .lead__caption {
        width: calc(100% - 32px);
    }
}