.comment__image {
    width: 98px;
    height: 98px;
    border-radius: 50%;
    margin-bottom: 40px;
    order: 1;
}

@media screen and (max-width: 768px) {
    .comment__image {
        margin-bottom: 16px;
    }
}